#right-side {
height: 100%;
width: 50%
}

#space {
height: 100%;
width: 50%
}

#about-us-section {
height: 100%;
margin: 100px
}

#landing-info {
height: 100%;
margin: 10%;
text-align: center;
margin: 10%;
color: #143109;
}

#landing-info h1 {
  padding-right: 2px;
  padding-left: 2px;
}

#landing-info p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
