.overlay-data{
  position: static;
}
.noscroll {
  overflow: hidden;
}

.mobilenav{
  -webkit-overflow-scrolling: touch;
}

/*Hike Info*/
#hike-overlay-container {
  border-bottom: 1px solid white;
}


.mobilenav h1{
  text-align: center;
  padding-top: 0;
  padding-right: 0;
  margin-top: 10px;
}


#hike-overlay-container li{
  margin: 0;
  display: inline-block;
}

#hike-overlay-container ul {
  text-align: center;
}


/*Weather Info*/
#weather-overlay-container{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid white;
}

#weather-overlay-container li{
  margin: 0 4px 5px 0;
  padding: 0;
}
