body {
  background: url('/images/mountain.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#nav-header {
  /*background-color: orange;*/
  width: 100%;
  height: 80px;
  /*position: fixed;*/
  top: 0;
  /*z-index: 1;*/
  background-color: #9cbaf0;
}

#tags{
  font-size: 1em;
}

#tags-submit{
  padding: 5px;
  /*border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;*/
  font-size: 1em;
  display: block;
  width: 195px;
  margin-top: 2px;
}

#tags-submit {
  border-top: 1px solid #96d1f8 ;
  background: #0773ba ;
  background: -webkit-gradient(linear, left top, left bottom, from(#09283d ), to(#0773ba ));
  background: -webkit-linear-gradient(top, #09283d , #0773ba );
  background: -moz-linear-gradient(top, #09283d , #0773ba );
  background: -ms-linear-gradient(top, #09283d , #0773ba );
  background: -o-linear-gradient(top, #09283d , #0773ba );
  padding: 6.5px 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 15px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }
#tags-submit:hover {
  border-top-color: #28597a ;
  background: #28597a ;
  color: #ccc;
  }
#tags-submit:active {
  border-top-color: #1b435e ;
  background: #1b435e ;
  }

.nav-list {
  display: flex;
  justify-content: space-around;
}

li a {
  color: #143109;
  text-decoration: none;
  text-decoration: underline;
  padding: .5%;
}

li a:hover {
  color: red;
}

h1 {
 font-family: 'Oswald', sans-serif;
 font-size: 25px;
 padding: 5% 5% 0% 0%;
 margin: 15% 15% 0% 15%;

}

p {
 color: #143109 ;
 font-family: 'Oswald', sans-serif;
}

.logo img {
  margin-top: 7px;
  height: 70px;
}

header img{
  margin-top: 5px;
}

form{
  margin-top: 10px;
}


/*#nav-footer {
  background-color: red;
  width: 100%;
  height: 40px;
  bottom: -50;
  text-align: center;
  #footer {
  position: absolute;
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}*/
